html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    font-family: 'Segoe UI'
}

table {
    border-spacing: 4px 3px;
}

table td {
    padding: 4px;
}