@model IEnumerable<ITSwormTestTask.Database.Furniture>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TestTask</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ITSwormTestTask.styles.css" asp-append-version="true" />
</head>
<body>
    <div><b>Добавить мебель</b></div>
    <form asp-controller = "Home" asp-action = "Index" method="post">

      <div class="mb-3">
        <label for="Name" class="form-label">Наименование</label>
        <input type="text" name="type" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />

    <h4>Каталог мебели</h4>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Type</td>
                <td><a href="Home/Details/@item.Id">Подробнее...</a><a href="Home/DeleteFurniture/@item.Id">Удалить</a></td>
            </tr>
        }
    </table>
</body>
</html>